#map { height: 180px; }

html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    margin: 0 auto;
}

