
<!--Modal-->
<div class="bg-modal">
    <div class="modal-content">
      <img src="" alt="">
      <form action="">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <a href="" class="button">Submit</a>
      </form>
    </div>