Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: #f5f1e2;  
  }  
  button {   
         background-color: #92a242;   
         width: 100%;  
          color: orange;   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer;   
           }   
   form {   
          border: 3px solid #f1f1f1;   
      }   
   input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid ;   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }   
    .cancelbtn {   
          width: auto;   
          padding: 10px 18px;  
          margin: 10px 5px;  
      }   
          
       
   .container {   
          padding: 25px;   
          background-color: #cfd6b3;  
      }  



      #header {
        position: relative;
        width: 100%;
        height: 99px;
        margin-left: 0px;
        margin-right: 21px;
        background: #BCCE98;
      
      }
      
      .menuLinkleft { /* Styles the link for home, learn, when, where and why on the left of the nav bar header and adds addtional detail */
        height: 36px;
        width: 140px;
        text-align: center;
        float: left;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #252F33;
        padding-top: 19px;
      }
      
      
      .menuLinkright {/* Same as the one above but styles the login and register links and places them on the right of the header nav bar */
        height: 36px;
        width: 140px;
        text-align: center;
        float: right;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #252F33;
        padding-top: 19px;
      }