/* Layout */
body {
  min-width: 630px;
  margin: 0;
  padding: 0;/* Aesthetics */
  font-family:Sans-serif;/* Aesthetics */
  line-height: 1.5em;/* Aesthetics */
}
a{
  text-decoration: none;
  color: #5e7b24;
  font-size: 1rem;
}
a:hover{
 color: orange; 
}
#header {
  position: relative;
  width: 100%;
  height: 99px;
  margin-left: 0px;
  margin-right: 21px;
  background: #BCCE98;
}
button {
    background: #BCCE98;
    border: .5px ;
    border-radius: 10px;
    color: rgb(8, 32, 1);
    padding: 8px;
  }

.menuLinkleft { /* Styles the link for home, learn, when, where and why on the left of the nav bar header and adds addtional detail */
  height: 36px;
  width: 140px;
  text-align: center;
  float: left;
  font-family:Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #252F33;
  padding-top: 19px;
}


.menuLinkright {/* Same as the one above but styles the login and register links and places them on the right of the header nav bar */
  height: 36px;
  width: 140px;
  text-align: center;
  float: right;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #252F33;
  padding-top: 19px;
}


p {
  color: #555;/* Aesthetics */
}

nav ul {/* Aesthetics */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {/* Aesthetics */
  color: darkgreen;
  text-decoration: none;
}



#container {
  padding-left: 200px;
  padding-right: 190px;
  overflow: hidden; /* Make the columns the same height as each other */
}

#container .column {
  position: relative;
  float: left;
  padding-top: 1em;
  padding-bottom: 1001em;/* Make the columns the same height as each other */
  margin-bottom: -1000em;/* Make the columns the same height as each other */

}


#center {
  padding: 10px 20px;
  width: 100%;
  background: #fff;
}

#left {
  width: 180px;
  padding: 0 10px;
  right: 240px;
  margin-left: -100%;
  background: #DAE9BC;
}

#right {
  width: 130px;
  padding: 0 10px;
  margin-right: -100%;
  background: #F7FDEB;
}



#footer {
  clear: both;
  font-size: large;/* Aesthetics */
  padding: 0.3em;/* Aesthetics */
  background: #BCCE98;/* Aesthetics */
}


/* Fix for the footer */
* html body {
  overflow: hidden;
}

* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #fff;
}



#image {
  position: center;


}	














.bg-modal{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  

}
input{ 
  width: 50%;
}


@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
}
